@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en" class="overflow-hidden">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="bg-light">

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 shadow-sm bg-white p-4 rounded">
            <h2 class="text-center text-primary mb-4">¡Bienvenido!</h2>
            <p class="text-center text-muted mb-4">Por favor, ingresa tus credenciales para continuar.</p>
            <form asp-controller="Account" asp-action="Login" method="post">
                <!-- Nombre de usuario -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" placeholder="Usuario" required autocomplete="off">
                    <label for="NombreUsuario">Nombre de Usuario</label>
                </div>

                <!-- Contraseña -->
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="Clave" name="Clave" placeholder="Contraseña">
                    <label for="Clave">Contraseña</label>
                </div>

                <!-- Botón de ingreso -->
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">Iniciar Sesión</button>
                </div>

            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
