@model Techstore_WebApp.Models.DB.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h1 class="mb-4 text-danger">Eliminar Cliente</h1>

<div class="alert alert-danger">
    <p>¿Estás seguro que deseas eliminar al cliente <strong>@Model.NombreCliente</strong>?</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="IdCliente" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
