@model Techstore_WebApp.Models.DB.Cliente

@{
    ViewData["Title"] = "Editar Cliente";
}

<h1 class="text-center mb-4">Editar Cliente</h1>

<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-center text-uppercase text-primary mb-4">Actualizar Información del Cliente</h5>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="IdCliente" />

                <div class="mb-3">
                    <label asp-for="NombreCliente" class="form-label fw-bold">Nombre Completo</label>
                    <input asp-for="NombreCliente" class="form-control" />
                    <span asp-validation-for="NombreCliente" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Dui" class="form-label fw-bold">DUI</label>
                    <input asp-for="Dui" class="form-control" />
                    <span asp-validation-for="Dui" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Telefono" class="form-label fw-bold">Teléfono</label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label fw-bold">Correo Electrónico</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Direccion" class="form-label fw-bold">Dirección</label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Guardar Cambios
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Regresar a la Lista
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
