@model Techstore_WebApp.Models.DB.CategoriasProducto

@{
    ViewData["Title"] = "Crear Categoría de Producto";
}

<h1 class="text-center mb-4">Crear Categoría</h1>

<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-center text-uppercase text-primary mb-4">Registro de Nueva Categoría</h5>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label asp-for="Categoria" class="form-label fw-bold">Nombre de la Categoría</label>
                    <input asp-for="Categoria" class="form-control" />
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-tag"></i> Registrar Categoría
                    </button>
                    <a asp-action="Index" class="btn btn-secondary mt-2">
                        <i class="bi bi-arrow-left"></i> Volver a la Lista
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
