@model Techstore_WebApp.Models.DB.CategoriasProducto

@{
    ViewData["Title"] = "Editar Categoría";
}

<h2 class="mb-4 text-center">Editar Categoría</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="IdCategoriaProducto" />
            <div class="mb-3">
                <label asp-for="Categoria" class="form-label">Nombre de la Categoría</label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
