@model Techstore_WebApp.Models.DB.CategoriasProducto

@{
    ViewData["Title"] = "Editar Categoría";
}

<h1 class="text-center mb-4">Editar Categoría</h1>

<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-center text-uppercase text-primary mb-4">Actualizar Información de Categoría</h5>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="IdCategoriaProducto" />

                <div class="mb-3">
                    <label asp-for="Categoria" class="form-label fw-bold">Nombre de la Categoría</label>
                    <input asp-for="Categoria" class="form-control" />
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Guardar Cambios
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Regresar a la Lista
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
